<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Password Manager</h1>
    <nav>
        <a href="/">Lista haseł</a> |
        <a href="/add">Dodaj hasło</a>
    </nav>
    <hr>
</header>
<div class="container">